/* 로딩화면 CSS - loading.css */

/* 공통 CSS 불러오기 */
@import '../css/common.css';

.loading {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background:  #3076bc;
    z-index: 999;
  }
  
  .loading::before {
    position: absolute;
    font-family: "Pretendard Variable";
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    /* color: rgba(255, 255, 255, 0); */
  }
  
  .counter {
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Pretendard Variable";
    z-index: 1;
  }
  
  .counter::after {
    content: '%';
    font-size: 2rem;
  }
  
  .hide {
    opacity: 0;
    transition: 0.8s;
    transition-delay: 0.3s;
  }
  
  .active {
    transform: translateY(-100vh);
    transition: ease-in-out 0.7s;
    transition-delay: 1.3s;
  }