@charset "UTF-8";
/* 기본 SCSS */
/* _core.scss */
/* _about.scss */
.about-wrap {
  width: 90%;
  margin: 0 auto;
  padding: min(20vw, 120px) 0;
  color: #333;
  text-align: center;
}
.about-wrap h2 {
  font-size: 1.4rem;
  font-weight: 400;
}
.about-wrap h3 {
  font-size: min(8vw, 4rem);
  font-weight: 700;
  color: #aaa;
}
.about-wrap ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: min(1.2vw, 24px);
  aspect-ratio: 1.2/1;
}
.about-wrap ul .card-box {
  position: relative;
  text-align: left;
  perspective: 200vw;
}
.about-wrap ul .card-box .card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.8rem;
  transform-style: preserve-3d;
}
.about-wrap ul .card-box .card span {
  position: absolute;
  bottom: 0;
  display: block;
  color: #fff;
  width: 100%;
  height: min(100%, 200px);
  background: rgba(0, 0, 0, 0.4);
  padding: 24px;
  box-sizing: border-box;
}
.about-wrap ul .card-box .card span p {
  font-size: min(2vw, 1rem);
  line-height: 1.4;
}
.about-wrap ul .card-box .card span p b {
  font-weight: 700;
  font-size: min(2.4vw, 1.6rem);
  line-height: 1.6;
}
.about-wrap ul .card-box .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.about-wrap ul .card-box .card:first-child {
  transform: rotateX(90deg);
  transition: 0.4s linear;
}
.about-wrap ul .card-box .card:last-child {
  transform: rotateX(0deg);
  transition: 0.4s 0.4s linear;
}
.about-wrap ul .card-box:hover .card:first-child {
  transform: rotateX(0deg);
  transition: 0.4s 0.4s linear;
}
.about-wrap ul .card-box:hover .card:last-child {
  transform: rotateX(90deg);
  transition: 0.4s linear;
}
@media (max-width: 1200px) {
  .about-wrap ul {
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1.2/2;
  }
}
@media (max-width: 768px) {
  .about-wrap ul {
    grid-template-columns: 1fr;
    aspect-ratio: 1/6;
  }
  .about-wrap ul .card-box .card span {
    padding: 20px;
  }
  .about-wrap ul .card-box .card span p {
    font-size: min(4vw, 1rem);
  }
  .about-wrap ul .card-box .card span p b {
    font-size: min(5vw, 1.4rem);
  }
}

/* _products.scss */
.products-wrap {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: min(20vw, 120px) 0;
  color: #333;
  text-align: center;
}
.products-wrap h2 {
  font-size: min(8vw, 4rem);
  font-weight: 700;
  color: #aaa;
}
.products-wrap > span {
  font-size: min(4vw, 1.4rem);
  font-weight: 500;
  color: #333;
  display: block;
}
.products-wrap .categories {
  margin-top: 20px;
}
.products-wrap .categories button {
  padding: min(1.4vw, 10px);
  border: none;
  border-radius: 4vw;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: min(3.8vw, 1rem);
}
.products-wrap .product-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.products-wrap .product-list .product-box {
  position: relative;
  height: auto;
}
.products-wrap .product-list .product-box a {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 1.4vw;
  border-radius: 4%;
  box-sizing: border-box;
  overflow: hidden;
}
.products-wrap .product-list .product-box a h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: min(3vw, 1rem);
  padding-top: 8px;
}
.products-wrap .product-list .product-box a p {
  font-size: min(1.8vw, 0.8rem);
  color: #aaa;
  padding-top: 4px;
  padding-bottom: 4px;
}
.products-wrap .product-list .product-box a span {
  font-size: min(2.8vw, 0.8rem);
  font-weight: 700;
  padding-top: 4px;
  display: block;
}
.products-wrap .product-list .product-box a span.sale {
  color: red;
}
.products-wrap .product-list .product-box a span.persent {
  position: absolute;
  top: 1vw;
  left: 1vw;
  padding: 0.4vw;
  background-color: red;
  color: #fff;
  font-size: min(4vw, 1.4rem);
}
.products-wrap .product-list .product-box a img {
  width: 100%;
  border-radius: 2%;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .products-wrap .product-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .products-wrap .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
  .products-wrap .product-list .product-box a p {
    display: none;
  }
}/*# sourceMappingURL=basic.css.map */