@charset "UTF-8";
/* 기본 SCSS */
/* _core.scss */
/* _about.scss */
.about-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
  color: #333;
  text-align: center;
}
.about-wrap h2 {
  font-size: 1.4rem;
  font-weight: 400;
}
.about-wrap h3 {
  font-size: min(8vw, 4rem);
  font-weight: 700;
  color: #aaa;
}
.about-wrap ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: min(1.2vw, 24px);
  aspect-ratio: 1.2/1;
}
.about-wrap ul .card-box {
  position: relative;
  text-align: left;
  perspective: 200vw;
}
.about-wrap ul .card-box .card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.8rem;
  transform-style: preserve-3d;
}
.about-wrap ul .card-box .card span {
  position: absolute;
  bottom: 0;
  display: block;
  color: #fff;
  width: 100%;
  height: min(100%, 200px);
  background: rgba(0, 0, 0, 0.4);
  padding: 24px;
  box-sizing: border-box;
}
.about-wrap ul .card-box .card span p {
  font-size: min(2vw, 1rem);
  line-height: 1.4;
}
.about-wrap ul .card-box .card span p b {
  font-weight: 700;
  font-size: min(2.4vw, 1.6rem);
  line-height: 1.6;
}
.about-wrap ul .card-box .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.about-wrap ul .card-box .card:first-child {
  transform: rotateX(90deg);
  transition: 0.4s linear;
}
.about-wrap ul .card-box .card:last-child {
  transform: rotateX(0deg);
  transition: 0.4s 0.4s linear;
}
.about-wrap ul .card-box:hover .card:first-child {
  transform: rotateX(0deg);
  transition: 0.4s 0.4s linear;
}
.about-wrap ul .card-box:hover .card:last-child {
  transform: rotateX(90deg);
  transition: 0.4s linear;
}
@media (max-width: 1200px) {
  .about-wrap ul {
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1.2/2;
  }
}
@media (max-width: 768px) {
  .about-wrap ul {
    grid-template-columns: 1fr;
    aspect-ratio: 1/6;
  }
  .about-wrap ul .card-box .card span {
    padding: 20px;
  }
  .about-wrap ul .card-box .card span p {
    font-size: min(4vw, 1rem);
  }
  .about-wrap ul .card-box .card span p b {
    font-size: min(5vw, 1.4rem);
  }
}

/* _about.scss */
.about-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
  color: #333;
  text-align: center;
}
.about-wrap h2 {
  font-size: 1.4rem;
  font-weight: 400;
}
.about-wrap h3 {
  font-size: min(8vw, 4rem);
  font-weight: 700;
  color: #aaa;
}
.about-wrap ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: min(1.2vw, 24px);
  aspect-ratio: 1.2/1;
}
.about-wrap ul .card-box {
  position: relative;
  text-align: left;
  perspective: 200vw;
}
.about-wrap ul .card-box .card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.8rem;
  transform-style: preserve-3d;
}
.about-wrap ul .card-box .card span {
  position: absolute;
  bottom: 0;
  display: block;
  color: #fff;
  width: 100%;
  height: min(100%, 200px);
  background: rgba(0, 0, 0, 0.4);
  padding: 24px;
  box-sizing: border-box;
}
.about-wrap ul .card-box .card span p {
  font-size: min(2vw, 1rem);
  line-height: 1.4;
}
.about-wrap ul .card-box .card span p b {
  font-weight: 700;
  font-size: min(2.4vw, 1.6rem);
  line-height: 1.6;
}
.about-wrap ul .card-box .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.about-wrap ul .card-box .card:first-child {
  transform: rotateX(90deg);
  transition: 0.4s linear;
}
.about-wrap ul .card-box .card:last-child {
  transform: rotateX(0deg);
  transition: 0.4s 0.4s linear;
}
.about-wrap ul .card-box:hover .card:first-child {
  transform: rotateX(0deg);
  transition: 0.4s 0.4s linear;
}
.about-wrap ul .card-box:hover .card:last-child {
  transform: rotateX(90deg);
  transition: 0.4s linear;
}
@media (max-width: 1200px) {
  .about-wrap ul {
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1.2/2;
  }
}
@media (max-width: 768px) {
  .about-wrap ul {
    grid-template-columns: 1fr;
    aspect-ratio: 1/6;
  }
  .about-wrap ul .card-box .card span {
    padding: 20px;
  }
  .about-wrap ul .card-box .card span p {
    font-size: min(4vw, 1rem);
  }
  .about-wrap ul .card-box .card span p b {
    font-size: min(5vw, 1.4rem);
  }
}/*# sourceMappingURL=basic.css.map */