@charset "utf-8";

@import url(./grid_12_flex.css);
@import url(./reset.css);

html,
body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 16px;
  line-height: normal;
  overflow-x: hidden;
}

/* root */
:root {
  /* 메인색 */
  --color-primary: #3076bc;
  --color-secondary: #fff;
  --color-tertiary: #777;
  --color-quaternary: #eee;
  /* 폰트색 */
  --color-font-main: #111;
  --color-font-sub: #333;
  /* 배경색 */
  --color-site-bg: hsla(60, 10%, 96.08%, 1);
}

/************ header 상단영역 ************/
header {
  position: relative;
  margin: 4vh auto;
  width: 90%;
  text-transform: uppercase;
}
.header h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: min(20vw, 160px);
  height: auto;
}
.header h1 img {
  width: 100%;
  height: auto;
}
.header-menu {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
}
.header-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-menu a {
  color: var(--color-font-sub);
  font-size: min(1.8vw, 1.2rem);
  font-weight: 600;
}
.header-menu li {
  position: relative;
}
.header-menu li a::after {
  background-color: var(--color-font-sub);
  content: "";
  height: 1px;
  min-width: 0%;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all 0.3s ease-out;
}
.header-menu li a:hover::after {
  left: 0;
  right: unset;
  min-width: 100%;
}
.ham-nav-wrap {
  background-color: #f3f3e9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 1;
  text-align: center;
  display: none;
}
.ham-nav-wrap.active {
  display: block;
}
.header__menu-circle {
  background-color: #f3f3e9;
  width: 30vw;
  height: 30vw;
  display: block;
  border-radius: 100%;
  position: absolute;
}
.header__menu-circle.n1 {
  left: 0%;
  top: -50%;
}
.header__menu-circle.n2 {
  left: 20%;
  top: 30%;
}
.header__menu-circle.n3 {
  left: 50%;
  top: 98%;
  translate: -50% 0;
}
.header__menu-circle.n4 {
  right: 20%;
  top: 30%;
}
.header__menu-circle.n5 {
  right: 0%;
  top: -50%;
}
.ham-nav-btn {
  text-align: center;
  position: fixed;
  top: -4vh;
  left: 50%;
  translate: -50% 0%;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.ham-nav-btn.on {
  top: 4vh;
}
.ham-nav-btn .burger-line__top,
.ham-nav-btn .burger-line__bottom {
  transition: all 0.3s ease-out;
}
.ham-nav-btn.active .burger-line__top {
  y: 7;
  width: 43;
  height: 2;
  transform: matrix(0.9563, -0.29237, 0.29237, 0.9563, -1.39941, 6.63556);
}
.ham-nav-btn.active .burger-line__bottom {
  y: 7;
  width: 43;
  height: 2;
  transform: matrix(0.9563, 0.29237, -0.29237, 0.9563, 3.27851, -5.93636);
}

.ham-nav {
  position: absolute;
  top: 10vh;
  left: 50%;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ham-nav li {
  position: relative;
  padding: 8px;
}
.ham-nav a {
  font-size: 3rem;
  font-weight: 700;
}
.ham-nav li > a > img {
  height: 40px;
  margin: 8px;
}
.ham-nav li > span > img {
  height: 28px;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.ham-nav li.on > span > img {
  opacity: 1;
}
.ham-nav li .balloon {
  animation: balloon-ani 1s linear infinite forwards;
}
.ham-nav li:nth-child(1n) .balloon {
  position: absolute;
  left: -8%;
}
.ham-nav li:nth-child(2n) .balloon {
  position: absolute;
  left: unset;
  right: -8%;
}
@keyframes balloon-ani {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}

/*********** main 컨텐츠영역 ***********/
main {
  min-height: 1000px;
}

/*********** footer 하단영역 ***********/
footer {
  border-top: 1px solid var(--color-quaternary);
  background-color: var(--color-site-bg);
}
.footer {
  margin: 0 auto;
  width: 90%;
  padding: 5vh 0;
  display: flex;
  justify-content: space-between;
}
.footer p {
  color: var(--color-font-sub);
  font-size: min(4vw, 1.6rem);
  font-weight: 700;
}

/*********** hover effect ***********/
@media (hover: hover) {
}

/******************************* 미디어쿼리(1200px이하) *******************************/
@media all and (max-width: 1200px) {
  .ham-nav-wrap {
    height: 100vh;
  }
}

/******************************* 미디어쿼리(768px이하) *******************************/
@media all and (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .footer {
    padding: 2vh 0;
    display: block;
  }
}
